<h3>RXJS solution advanced challenge</h3>

<p class="margin-xxxl-vertical">Demo inputs: KL, OR, AT, GB, EZ AY,TY, PC</p>

<input id="search-term" class="search" placeholder="Search gate changes..." type="text">

<div class="results-overview-flex-container margin-xxl-vertical">
    <div class="result-item-row-header">
        <div class="result-item-column bgc-debug-blue">new Gate</div>
        <div class="result-item-column bgc-debug-green">original Gate</div>
        <div class="result-item-column bgc-debug-orange">Flight number</div>
        <div class="result-item-column bgc-debug-red">flight direction</div>
        <div class="result-item-column bgc-debug-yellow" >flight event</div>
        <div class="result-item-column-width-xl bgc-debug-yellow" >flight info</div>
    </div>
    <div class="result-item-row" style="display: flex; justify-content: space-between; align-items: stretch; height: 40px" *ngFor="let item of this.searchResults">
        <div style="" class="result-item-column bgc-debug-blue">{{item.currentGate}}</div>
        <div style="" class="result-item-column bgc-debug-green">{{item.previousGate}}</div>
        <div style="" class="result-item-column bgc-debug-orange">{{item.flightNumber}}</div>
        <div style="" class="result-item-column bgc-debug-red">{{item.direction}}</div>
        <div class="result-item-column">
            <ng-container *ngIf="item?.origin">{{item.origin}} => here </ng-container>
            <ng-container *ngIf="item?.destination" >here => {{item.destination}} </ng-container>
        </div>
        <div class="result-item-column-width-xl">
            <ng-container *ngIf="item?.arrivalTime" >
                {{item.arrivalTime | date:'dd/MM/yy HH:mm:ss'}}
            </ng-container>
            <ng-container *ngIf="item?.departureTime" >
                {{item.departureTime | date:'dd/MM/yy HH:mm:ss'}}
            </ng-container>
        </div>
    </div>
</div>


<p style="margin-bottom: 1200px">Results: {{this.searchResults.length}}</p>

<h3>Acceptance criteria for story:</h3>

<h4>Scenario: Searching for gate changes Given I am on the Code Challenge page</h4>
<ul>
    <li>DONE more than 1 character</li>
    <li>Solution: check length of input.</li>
</ul>


<ul>
    <li>DONE maximum 5 results</li>
    <li>Solution: use slice on array to limit results.</li>
</ul>

<ul>
    <li>DONE include the destination / origin of the flight</li>
    <li>Solution: get arrivals and destination on Init.. then find item for every result.</li>
</ul>

<ul>
    <li>DONE sorted on time</li>
    <li>Solution: And the list should be sorted based on arrival / departure time of the flight</li>
</ul>


<ul>
    <li>DONE Scenario: Clearing gate changes</li>
    <li>Then no gate changes should be shown</li>
</ul>

<ul>
    <li>DONE Scenario: Hovering effect on gate changes list items</li>
    <ul>
        <li>Given I am on the Code Challenge page, and have a list of gate changes.</li>
        <li>When I hover uneven times (1st time, 3rd time etc...) on a gate change item</li>
        <li>Then the background should have a yellow color</li>
        <li>When I hover even times (2nd time, 4th time etc...) on the same item</li>
        <li>Then the background should have a red color</li>
    </ul>
</ul>


<h3>POST WORK ROUTINE...</h3>
<p>TODO Lint & Format everything automatically on saves.</p>
<p>TODO double check every git commit</p>
<p>TODO double check pull request before</p>
<p>TODO double contact reviewer personal</p>


<h2>Improvements which can be made to this solution</h2>
<ul>
    <li>Call on every letter even while fast typing >> debounce</li>
    <li>Would this be cleaner using RXJS in anyway if use debounce already? (Merge two Streams results into map)</li>
    <li>Should we merge these to streams of data in FE or BE...?</li>
    <li>Validations are limited using template vs reactive forms</li>
</ul>

<!-- TODO IDSME JIRA-XXX1 remove extra debugging below when done with issue. -->
<!--<h3>arrivalFlights</h3>
<ul>
    <li *ngFor="let item of this.arrivalFlights">{{item.flightNumber}}</li>
</ul>-->

<h3>departureFlights</h3>
<ul>
    <li *ngFor="let item of this.departureFlights">{{item | json}}</li>
</ul>


<!-- Results: /gate-changes/:search
   {
    currentGate: 'H6',
    previousGate: 'H10',
    flightNumber: 'EZY907',
    direction: 'Departure',
    },
    -->

