.bgc-debug-blue {
    background-color: lightskyblue;
}

.bgc-debug-gray {
  background-color: slategray;
}

.bgc-debug-green {
    background-color: lightseagreen;
}

.bgc-debug-red {
    background-color: orangered;
}

.bgc-debug-yellow {
    background-color: yellow;
}

.bgc-debug-orange {
    background-color: orange;
}

