$default-margin: 10px !default;

.margin-l-vertical {
  margin-bottom: ($default-margin * 2.4);
}

.margin-xl-vertical {
  margin-bottom: ($default-margin * 3.2);
}

.margin-xxl-vertical {
  margin-bottom: ($default-margin * 4.8);
}

.margin-xxxl-vertical {
  margin-bottom: ($default-margin * 6.4);
}
